<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>详细信息</title>
  <link rel="stylesheet" href="/static/css/info.css">
</head>
<body>
  <div class="overview">
    <div class="infos">
      <div class="title">xx职业</div>
      <div class="intro">职业描述：xxx</div>
    </div>
  </div>
  <div class="content">
    <h2>全国地图</h2>
    <br style="color: aliceblue;width: 100%">
    <img src="/static/images/china.png" style="width: 100%;height:100%;object-fit: cover;">
  </div>
  <div class="content">
    <h2>统计</h2>
    <br style="color: aliceblue;width: 100%">
    <img src="/static/images/trend.png" style="width: 100%;height:100%;object-fit: cover;">
  </div>
  <div class="content">
    <h2>变化趋势</h2>
    <br style="color: aliceblue;width: 100%">
    <img src="/static/images/change.png" style="width: 100%;height:100%;object-fit: cover;">
  </div>
</body>
</html>