{% extends "nav_std.html" %}
{% block title %}工作推荐 {% endblock %}
{%block style%}
    <style>
        .screen {
            width: 94.5%;
            background-color: #27282d;
            color: #FFF;
            padding: 20px 30px;
            margin: 10px 30px 0px 30px;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            font-size: 30px;
            font-family: Candyhome;
        }
        .post {
            width: 45%;
            background-color: #27282d;
            color: #FFF;
            padding: 20px 30px;
            margin: 10px 30px 0px 30px;
            box-sizing: border-box;
            float: left;
            position: relative;
        }

        .jt,
        .city,
        .company,
        .salary,
        .edu {
            display: inline-block;
            margin: 5px 5px 10px 0;
            font-family: 楷体;
        }

        .jt {
            font-size: 25px;
        }

        .company {
            font-family: Candyhome;
            font-size: 35px;
            position: absolute;
            right: 10%;
            height: 40px;
        }

        .info::before {
            content: url("/static/images/tags.png");
        }

        .info {
            margin-top: 10px;
            font-size: 15px;
            font-family: 楷体;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

    </style>
{%endblock%}

{%block content%}
<div class="screen">
    发现30个你可能感兴趣的职业！
</div>
{% for job in jobs %}

<div class="post">
    <div class="jt">{{job.job_name}}</div>
    <a href="job_info/city/{{job.city}}">
        <div class="city">[ {{job.city}} ]</div>
    </a>
    <div class="company">{{job.company}}</div><br>
    <div class="salary">{{job.salary}}</div>
    <div class="edu">{{job.edu}}</div>
    <hr>
        <div class="info">{{job.category}}</div>
</div>
{% endfor %}
{%endblock%}