{% extends "nav_std.html" %} {% block title %}薪资分析 {% endblock %} {%block style%}
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.3/echarts.js"></script>
<style>
    .screen {
        width: 80%;
        background-color: #27282d;
        color: #FFF;
        padding: 20px 30px;
        margin: 0 30px 0 130px;
        box-sizing: border-box;
        position: relative;
    }
</style>
{%endblock%} {%block content%}
<div id="main" style="width: 1200px;height:400px;margin: 30px 0 30px 50px"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option;



    option = {
        // 标题
        title: {
            text: '部分城市不同薪资区间的占比', // 标题名称
            left: 'center'
        },
        // x轴
        xAxis: {
            data: ['2-3K', '3-4.5K', '4.5-6K', '6-8K', '8-10K', '10-15K', '15-20K', '20-30K'], // x轴坐标名称
        },
        // y轴
        yAxis: {
            axisLabel: {
                formatter: function(val) {
                    return val * 1 + "%";
                }
            }

        },

        tooltip: {
            show: true, // 是否显示
            trigger: 'axis', // 触发类型，默认数据触发，见下图，可选为：'item' | 'axis'
        },
        legend: { // 图例配置选项
            orient: 'horizontal',
            x: 'left',
            y: 'top',
            data: ['上海', '成都', '银川']
        },
        series: [

            {
                name: '上海', // 系列名称
                type: 'line', // 类型：线
                data: [15.2, 15, 18.1, 15.5, 10.1, 11.9, 5.4, 5.7], // 数据



            },


            {
                name: '成都', // 系列名称
                type: 'line', // 类型：线
                lineStyle: {
                    color: '#00FF00'
                },
                data: [4.4, 25.6, 19.2, 21.4, 13.5, 6.1, 5.9, 2.1], // 数据


            },

            {
                name: '银川', // 系列名称
                type: 'line', // 类型：线
                data: [5.6, 29, 18.7, 21.3, 11.3, 6.4, 3.2, 2.2], // 数据


            },

        ]
    };


    option && myChart.setOption(option);
</script>

<div class="screen">
    <p style="font-family: 楷体">不同薪资的工作在劳务市场的需求量是不同的，我们采集分析了沿海、中部、西部的三个代表城市进行分析。薪资为10k以下的职务占多数，薪资为10k以上的高薪职业占少数。但不同城市岗位提供依然存在存在差距，沿海城市高薪岗位提供明显多于中部和西部城市，这也是沿海城市人才虹吸效应现象的原因之一。</p>
</div>
{%endblock%}